#contenedor {
    text-align: center;
    background-color: yellow;
    background-image: linear-gradient(TO RIGHT,WHITE,rgb(0, 0, 0));
    height: 1000PX;
    border: 10px solid blue;
}
body {
  text-align: center;  
}
img{
    width: 400px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 30px;
}
h1 {
color: white;
font-weight: bolder;
}
p {
color: white;
padding-top: 20px;
padding-bottom: 10px;
border: 1px solid white;
margin-bottom: 20px;
}
footer {
color :white ;
padding: 5px;
text-align: center;
background-color: rgb(90, 51, 233);
}