#texto-punto-bordes {
    border-style: dotted;
}
#texto-borde-lineas {
    border-style: dashed;
}
#tex-solido {
    border-style: solid;
}
#tex-doble {
    border-style: double;
}
input {
    border: none;
    background-color: teal;
}
#borde{
    border-style: double dashed;
}
}
#text-borde-inset {
    border-style: dotted;
}
#text-multiborde {
    border-style: dotted double;
}
h1{
    border-style: double dotted;
}
#tex-doble01{
    border-style: inset;
}