p{
    color: blue;
    font-size: 50px;
}
/*
SINTAXIS CSS
h1 ES SELECTOR {
PROPIEDAD : VALOR
}
 */
 h1{
     color: rgb(43, 255, 0);
     font-size: 40PX;
 }

 body {
     background-color: black;
text-align: center;
}
header {
    background-color: cornsilk;
}
small
{
    font-size: 40px;
}
.amarillo{
    background-color: rgb(133, 220, 20);
    font-size: 15px;
    text-align: start;
}
.verde{
    background-color: rgb(20, 220, 110);
    font-size: 20px;
    text-align: center;
}
#pie {
    background-color: cyan;
    font-weight: bold;
    font-size: 30px;
}
img{
    border-radius: 10px;
}
.inputestilos{
    background-color: darkcyan;
    caret-color: rgb(204, 16, 16);
    color: white;
}